<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .navbar {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            background-color: #9e4e4ec7;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container">
            <a class="navbar-brand" href="#">Kalimera</a>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{% url 'mainapp:index' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">Admin</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'mainapp:profile' %}">My Profile</a></li>
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'mainapp:user_logout' %}">Logout</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'mainapp:user_login' %}">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'mainapp:register' %}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        {% block body_block %}
        {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
